/* reset css */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/* reset css */


h1{
    font: bold 2em Arial, Helvetica, sans-serif;
    color: white;
    width: 55%;
    text-align: center;
    margin: 25px auto;
    padding: 10px 25px;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(71, 223, 97), rgb(100, 226, 142));
    /* box-shadow: 5px 5px 10px; */
}

h2{
    font: bold 1.2em Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    margin: 30px 80px;
}

section{
    width: 91%;
    margin: 25px auto;
}

figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
    margin-top: 5px;
}

body{
    /* background-color: rgb(108, 108, 108); */
    background: linear-gradient(to bottom, rgb(62, 235, 123), rgb(73, 36, 206));
}

figure{
    display: inline-block;
    padding: 18px;
    margin: 1px auto;
}

figure img{
    padding: 4px;
    background-color: rgb(134, 134, 134);
    /* box-shadow: rgb(177, 177, 177) 5px 5px 10px; */
    width: 145px;
    height: 145px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out 0s;
}

figure img:hover{
    transform: scale(1.25);
    box-shadow: rgb(177, 177, 177) 0 0 3px 5px;
}

footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80%;
    color: rgba(255, 255, 255, 0.804);
    position: absolute;
    bottom: 0;
}