@font-face {
    font-family: 'apple';
    src: url(SF-UI-Display-Regular.otf);
}


body {
    background-color: black;
    color: white;
    font-family: "apple";
    padding-left: 25px;
    padding-right: 30px;
}


header {
    background: linear-gradient(to right, rgb(50, 50, 50), rgb(0, 0, 0));   
    width: 550px;
    text-align: center;
    margin: 0px auto;
    font-size: 33px;
    border-radius: 15px;
}

nav{ 
    background: linear-gradient(to right, rgb(50, 50, 50), rgb(0, 0, 0));
    text-align: center;
    border-radius: 10px;
}

aside{ 
    background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(0, 0, 0));
    float: left;
    border-radius: 10px;
    height: 570px;
}

section{ 
    background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(0, 0, 0));
    margin-left: 210px;
    margin-bottom: 10px;
    padding: 1px 15px;
    border-radius: 10px;
    text-align: justify;
}

footer{
    background: linear-gradient(to right, rgb(50, 50, 50), rgb(0, 0, 0));
    border-radius:10px;
    padding: 10px;
    margin-top: 15px;
}

li {
    display: inline;
    margin: 50px;
}

li:hover {
    cursor: pointer;
}

blockquote {
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
}

blockquote:hover {
    cursor: pointer;
}
